
{% if user.is_active %}
	<p>{{ user.username }}</p>
{% endif %}

<p>Filter by</p>
<form id="filter_form" method="get" action="{% url 'products:index' %}">
<table>
	<tr>
		<td>{{ filter_form.category.label_tag }}</td>
		<td>{{ filter_form.category }}</td>
	</tr>
	<tr>
		<td>Price:</td>
		<td>from {{ filter_form.min_price }} to {{ filter_form.max_price }}</td>
	</tr>
	<tr>
		<td>{{ filter_form.geolocation.label_tag }}</td>
		<td>{{ filter_form.geolocation }}</td>
	</tr>
</table>
<input type="submit" value="submit" />
</form>

{% if products_list %}
    <ul>
        {% for product in products_list %}
            <li><a href="{% url 'products:detailProduct' product.id %}">{{ product.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products yet available. Would you like to <a href="{% url 'products:logIn' %}">sell</a> something??</p>
{% endif %}

<p><a href="{% url 'products:register' %}">Become a Seller!</a></p>
<p><a href="{% url 'products:logIn' %}">Sell!</a></p>