{% if user.is_active %}
	<h1>Welcome {{ user.username }}!</h1>
{% else %}
    <h1>Hmmm... it doesn't look like you should be here....</h1>
 {% endif %}

 {% if products_list %}
 	<a href="{% url 'products:addProduct' %}">Add a new product!</a>
    <ul>
        {% for product in products_list %}
            <li><a href="{% url 'products:detailProduct' product.id %}">{{ product.title }}</a> - <a href="{% url 'products:removeProduct' product.id %}">delete</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't yet uplpaded any product for sell! <a href="{% url 'products:addProduct' %}">Upload</a> one now!</p>
{% endif %}

 <p><a href="{% url 'products:logout' %}">Log out</a></p>